.home-about .about-content {
  background-color: #ffdc00;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.home-about .about-buttons button {
  background-color: #74cf0b;
}

.home-about .about-buttons a {
  background-color: #000000;
}

.home-about .about-image img {
  height: 700px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 768px) {
  .home-about .about-content {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .home-about .about-image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
}
