footer .container .footer-info svg {
  font-size: 20px;
  margin-right: 10px;
}

footer .container .footer-info .address svg {
  margin-right: 20px;
}

footer .container .footer-info p {
  margin-top: -5px;
  margin-bottom: 0px;
}

footer .container .footer-info a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

footer .container .footer-info a:hover {
  color: #74cf0b;
}

footer .container .footer-find-us svg {
  font-size: 20px;
  color: #ffffff;
}

footer .container .footer-find-us svg:hover {
  color: #74cf0b;
}

footer .container .footer-find-us a:not(:first-of-type) svg {
  margin-left: 10px;
}

footer .container .footer-contact-us a {
  border-radius: 5px;
  color: #ffffff;
  background-color: #74cf0b;
  text-decoration: none;
  padding: 10px 15px;
}
